<!-- ======= Stats ======= -->
<section id="stats" class="py-4">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 reveal">
    <div class="grid grid-cols-2 lg:grid-cols-4 gap-8">
      <div class="stats-item">
        <span>Docker</span>
        <p>{{ i18n "stats1_label" }}</p>
      </div>
      <div class="stats-item">
        <span>&lt;30s</span>
        <p>{{ i18n "stats2_label" }}</p>
      </div>
      <div class="stats-item">
        <span>100%</span>
        <p>{{ i18n "stats3_label" }}</p>
      </div>
      <div class="stats-item">
        <span>$0</span>
        <p>{{ i18n "stats4_label" }}</p>
      </div>
    </div>
  </div>
</section>
